/* tbdsupport.css for TBD Support Application */

/* General Styling */

body {
	min-width: 1250px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 100%;
}

a {
	color: #4169E1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #4169E1;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 120%;
}


/* Header */

header {
	min-width: 1250px;
}

table.header {
	margin-left: 65px;
}

table.header tr td {
	padding: 15px;
}

table.header ul li {
	list-style: none;
	display: inline;
	padding: 8px;
}

/* Welcome Page */

table.welcome {
	padding: 2px;
	width: 90%;
	height: 550px;
	margin-right: auto;
	margin-left: auto;
	border: medium solid gray; 
	background-image: url('table_background.png');
	border-collapse: collapse;
}

table.welcome tr td {
	width: 33%;
	vertical-align: top;
	padding: 8px;
	border-right: medium solid gray;
	
}

table.welcome tr td img {
	margin-top: 10px;
	padding-left: 260px;
	position: absolute;
}

table.welcome ul li {
	padding: 5px;
}

table.welcome p {
	margin-left: 10px;
}

table.welcome h1 {
	padding-top: 15px;
	text-align: center;
	vertical-align: middle;
}

table.welcome h2 {
	margin-left: 10px;
}

/* Footer */

div.footer {
	padding: 2px;
	margin-bottom: 2em;
	text-align: center;
}

/* Round corners */

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}