/* tbdsupport.css for TBD Support Application */

/* General Styling */

body {
	min-width: 1250px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 100%;
}

a {
	color: black; 
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #2F4F4F; 
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 120%;
}


/* Home Page Header */

header {
	min-width: 1250px;
}

table.header {
	margin-left: 50px;
}

table.header tr td {
	padding: 8px;
}

table.header ul li {
	list-style: none;
	display: inline;
	padding: 8px;
}

/* User Header */

table.user_header {
	margin-left: 50px;
}

table.user_header tr td {
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 35px;
	margin-right: 150px;
}

table.user_header ul li {
	list-style: none;
	display: inline;
	padding: 8px;
}

/* Welcome Page */

table.welcome {
	padding: 3px;
	width: 91%;
	height: 550px;
	margin-right: auto;
	margin-left: auto;
	background-image: url('table_background3.png');
}

table.welcome tr td {
	width: 33%;
	vertical-align: top;
	padding: 8px;
}

table.welcome tr td img {
	margin-top: 10px;
	padding-left: 260px;
	position: absolute;
}

table.welcome ul li {
	padding: 5px;
}

table.welcome p {
	margin-left: 10px;
}

table.welcome h2 {
	margin-left: 10px;
}

/* About Page */

table.about {
	padding: 2px;
	width: 90%;
	height: 550px;
	margin-right: auto;
	margin-left: auto; 
	background-image: url('table_background3.png');
}

table.about tr td {
	width: 33%;
	vertical-align: top;
	padding: 8px;
}

table.about tr td img {
	margin-top: 10px;
	padding-left: 60px;
}

table.about ul li {
	padding: 5px;
}

table.about p {
	margin-left: 10px;
}

table.about h2 {
	margin-left: 10px;
}

/* User Profile Page */

table.profile {
	padding: 2px;
	width: 93%;
	height: 750px;
	margin-right: auto;
	margin-left: auto;
	background-image: url('table_background2.png');
}

table.profile tr td {
	width: 33%;
	vertical-align: top;
	padding: 8px;
}

table.profile tr td img {
	margin-top: 10px;
	padding-left: 35px;
	border: none;
}

table.profile ul li {
	padding: 5px;
	list-style: none;
}

table.profile h2 {
	margin-left: 10px;
}

table.profile h3 {
	margin-left: 40px;
}

/* Edit User Page */

div.edit_user {
	width: 65%;
	height: 600px;
	padding: 2px;
	margin-left: 200px;
	margin-bottom: 50px;
	border: thin solid black;
}

div.edit_user h2 {
	padding-top: 8px;
	padding-left: 20px;
}

div.edit_user p {
	padding-left: 35px;
}

div.edit_user a {
	padding-left: 5px;
}

/* Bottom Links */

div.links {
	padding: 2px;
	width: 27%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: thin solid gray;
}

div.links ul li {
	list-style: none;
	display: inline;
	padding: 8px;
}

/* Gravatar Styling */

div.gravatar img {
	float: right;
	padding-right: 150px;
}

/* Footer */

div.footer {
	padding: 2px;
	margin-bottom: 2em;
	text-align: center;
}

/* Round corners */

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}