<%= render 'shared/user_header' %>
	<table class="welcome round">
		<tr>
			<td>
				<h2>User Profile:</h2>
					<ul>
						<li>Name: </li>
						<li>Email: <%= current_user.email %></li>
			</td>
			<td>
				<h2>Create New Event:</h2>
			</td>
			<td>
				<h2>Check Status of Past Events:</h2>
			</td>
		</tr>
	</table>
<%= render 'shared/bottom_links' %>