<div class="links">
	<ul>
		<li><%= link_to "About Us", "/about" %>&nbsp;|&nbsp;</li>
		<li><%= link_to "Location", "/location" %>&nbsp;|&nbsp;</li>
		<li><%= link_to "Service Info", "/service" %></li>
	</ul>
</div>