<header>
	<div class="hlinks">
		<ul>
			<li><%= link_to "Sign in", "#" %></li>
			<li><%= link_to "Sign up", "#" %></li>
			<li><%= link_to "Contact Us", "#" %></li>
		</ul>
	</div>
	<table class="header">
		<tr>
			<td>
				<%= image_tag('LOGO_small.jpg', :alt => "logo") %>
			</td>
			<td>
				<h1>Welcome to Technology by Design Online Support!</h1>
			</td>
		</tr>
	</table>
</header>