</tr>
<tr>
	<td>
		<h1><%= link_to "About Us", "/about" %></h1>
	</td>
	<td>
		<h1><%= link_to "Location", "/location" %></h1>
	</td>
	<td>
		<h1><%= link_to "Service Info", "/service" %></h1>
	</td>
</tr>
</table>