<td>
	<h2>Second step</h2>
		<p>Tell us your problem:</p>
			<ul>
				<li>Create an event through our online system</li>
				<li>Tell us the best time and most convenient way
					to contact you</li>
				<li>The event details and contact information will 			  
					automatically be emailed to one of our 
					technicians</li>
				<li>Our competent technicians will figure out
					the best solution for your technical
					problem</li>
				<li>We will contact you through the approved method</li>
			</ul>
</td>