<%= render 'shared/header' %>
	<table class="about round">
		<tr>
			<td>
				<p><b>Technology by Design</b> has been the premier source for
					customer-centered IT support for over five years now. Lorem 
					ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse 
					et velit elit, eu tempus diam. Phasellus congue placerat mauris 
					eu ultricies. Class aptent taciti sociosqu ad litora torquent 
					per conubia nostra, per inceptos himenaeos. Aliquam id enim in 
					dui interdum condimentum eget ac orci. Nam placerat, massa 
					ultricies tincidunt lobortis, orci orci consectetur est, nec 
					dignissim velit sapien ut sapien. Maecenas erat ligula, 
					malesuada non sagittis eget, pretium sit amet est. Phasellus at 
					enim diam. Lorem ipsum dolor sit amet, consectetur adipiscing 
					elit. Duis elementum, eros ac vestibulum varius, tortor purus 
					faucibus lacus, non interdum diam velit volutpat arcu. </p>
			</td>
			<td>
				<%= image_tag('TBDoffice3.jpg', :alt => 'officepic') %>
				<%= image_tag('TBDoffice1.jpg', :alt => 'officepic2') %>
			</td>
			<td>
				<p>Quisque sed diam non arcu convallis vehicula quis a nisi. Fusce 
					lacinia ipsum eleifend urna mattis ut dictum lacus ullamcorper. 
					Nunc ut velit tortor, id condimentum risus. Mauris a lectus vel 
					felis eleifend cursus et et nunc. Pellentesque semper facilisis 
					justo sit amet aliquam. Aliquam pretium ipsum id orci pulvinar 
					nec convallis lectus tincidunt. Suspendisse in felis et tortor 
					fringilla congue eu at lorem. Vivamus sodales tristique 
					fringilla.</p>

				<p>	Cras elit nulla, ullamcorper nec interdum vitae, ultrices et 
					est. Maecenas dignissim pharetra tortor eget ultricies. Proin id 	
					massa enim, in laoreet tortor. Donec id metus at turpis tempus 
					faucibus. Fusce sagittis diam non magna sollicitudin ultricies. 
					</p> 
			</td>
		</tr>
	</table>
	<%= render 'shared/bottom_links' %>